/* SECTION */
.contact-section {
    background: #060d23;

  color: #fff;
  padding: 80px 20px;
}

/* TOP AREA */
.contact-top {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-top h2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
}

/* BUTTON */
.hire-now-btn {
  background: #ffffff;
  color: #000;
  padding: 14px 28px;
  border-radius: 40px;
  border: 1px solid #333;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hire-now-btn:hover {
  background: #2563eb;
  color:#ffffff;
  transform: translateY(-3px);
}

/* DIVIDER */
.divider {
  height: 1px;
  background: #333;
  margin: 40px auto;
  max-width: 1100px;
}

/* DETAILS */
.contact-details {
  max-width: 1100px;
  margin: auto;
  font-size: 18px;
}

.contact-details p {
  margin-bottom: 15px;
}

/* SOCIAL LINKS */
.social-links {
  margin-top: 20px;
  display: flex;
  gap: 25px;
}

.social-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease;
}

.social-links a:hover {
  color: #2563eb;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .contact-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .contact-top h2 {
    font-size: 38px;
  }

  .social-links {
    flex-direction: column;
    gap: 12px;
  }
}